---
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations, useTranslatedPath } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
const { image, project, link, description, class: className } = Astro.props;
---

<li class:list={["relative flex flex-col", className]}>
	<a href={translatePath(link)} aria-label={`Project ${project}`} class="relative">
		<div class="absolute inset-0 bg-red-900/40 z-10 rounded-md lg:rounded-lg"></div>
		<Image class="h-[25rem] rounded-md object-cover lg:rounded-lg" src={image} alt={project} />
		<div class="absolute inset-0 z-20 flex flex-col justify-end p-6 text-white">
			<h3 class="font-mono text-lg font-medium uppercase tracking-wide md:mt-0 lg:text-xl">
				{project}
			</h3>
			<div class="flex items-center justify-between mt-2">
				<p class="text-sm text-white/80 line-clamp-2">{description}</p>
				<span class="text-right text-base hover:text-primary-700">
					<span class="hidden lg:inline-block">{t("projects.see")}</span>
					<span class="sr-only">{project}</span> &nbsp; &rarr;
				</span>
			</div>
		</div>
	</a>
</li>
